.hotMovie{
	width: 675px;
	height: 514px;
	/*background-color: pink;*/
}
.nav{
	width: 675px;
	height: 22px;

	padding-bottom: 10px;
	border-bottom: 1px solid #eaeaea;
	margin-bottom: 18px;

	position: relative;
}
.nav>span{
	font-size: 13px;
	color: #9B9B9B;
	/*垂直方向居中*/
	vertical-align: middle;
	margin-right: 10px;
}

.nav>span:nth-of-type(1){
	font-size: 16px;
	color: #111;
}

.nav>.active{
	color: #111; 
}

.nav>a{
	position: absolute;
	right: 0;
	top: 2px;
	font-size: 13px;
	/*文本的装饰*/
	text-decoration: none;
}



.content{
	width: 675px;
	height: 426px;
}

.citem{
	width: 675px;
	height: 426px;
	margin-bottom: 10px;
	/*background-color: skyblue;*/
}

.cin{
	width: calc(675px * 5);
	height: 426px;
	/*background-color: orange;*/
}
.mitem{
	width: 675px;
	height: 426px;
}

.page{
	width: 115px;
	height: 210px;
	background-color: cyan;
	margin-right: 25px;
	margin-bottom: 10px;
}
.page>img:nth-of-type(1){
	width: 115px;
	height: 172.5px;
}
.page>p{
	margin: 0;
	text-align: center;
	font-size: 13px;
	color: #37a;
}
.page>p>span:nth-of-type(2){
	color: #e09015;
}

.page{
	position: relative;
}
.info{
	position: absolute;
	top: 0;
	left: 120px;
	display: none;

	/*
		z-index:表示定位标记在z轴上的位置;
		只在定位标记中使用
	*/
	z-index: 1;
}

/*当鼠标悬浮在page中的第一个img上的时候，寻找相邻的img，显示出来*/
.page>img:nth-of-type(1):hover+img{
	display: inline-block;
}

.page{
	float: left;
}
.page:nth-of-type(5n){
	margin-right: 0;
}

.mitem{
	float: left;
}
.citem{
	/*溢出部分隐藏*/
	overflow: hidden;	
}

.fenyeqi{
	width: 675px;
	height: 24px;
	/*background-color: orange;*/
	margin-top: 10px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.fenyeqi>p{
	width: 18px;
	height: 18px;
	margin: 0;

	background-image: url("https://img3.doubanio.com/f/movie/708be21a7bb2d0f21419dc4e2e2fde8b21ad661a/pics/movie/slide_swithc_2.png");
	background-repeat: no-repeat;
}

.last{
	background-position: right top;
}

.fenyeqi>span{
	display: inline-block;
	width: 6px;
	height: 6px;
	background-color: #000;
	border-radius: 50%;
	margin: 0px 6px;
}

.fenyeqi>.show{
	background-color: red;
}


.citem{
	display: none;
}
.visibility{
	display: block;
}

.cin{
	transition: all 1s;
}







